@font-face {
	font-family: 'League Gothic';
	src: url('https://gabryxx7.github.io/css/league_gothic.eot');
	src: url('https://gabryxx7.github.io/css/league_gothic.eot?') format('embedded-opentype'),
		 url('https://gabryxx7.github.io/css/league_gothic.woff') format('woff'),
		 url('https://gabryxx7.github.io/css/league_gothic.ttf') format('truetype'),
		 url('https://gabryxx7.github.io/css/league_gothic.svg') format('svg');

	font-weight: normal;
	font-style: normal;
}